<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToSqlBulkCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToSqlBulkCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExcelToSqlBulkCopy.Properties.Settings>
            <setting name="SqlConnectionString" serializeAs="String">
                <!--<value>Server=localhost;Database=TestBulkCopy;Trusted_Connection=True;</value>-->
              <value>Server=tcp:ssgfinanceserver.database.windows.net,1433;Initial Catalog=SsgFinanceReporterDatabase;Persist Security Info=False;User ID=Accounting;Password=SSG1z2019*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;</value>
            </setting>
        </ExcelToSqlBulkCopy.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ExcelToSqlBulkCopy.Properties.Settings>
            <setting name="ExcelFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelSheet" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationTableName" serializeAs="String">
                <value />
            </setting>
        </ExcelToSqlBulkCopy.Properties.Settings>
    </userSettings>
</configuration>